/* ==========================================================================
   #FONT
   ========================================================================== */

   @font-face {
    font-family: Poppins-Regular;
    src: font-url('/fonts/poppins/Poppins-Regular.ttf'); 
    // src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: font-url('/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: font-url('/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: font-url('/fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  
// --------------------
// Style for Home component
// 
#Home {

  background-image: url("/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

  .home-content {
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(183, 134, 223, 0.3);
    height: 690px;


  }
  
  body {
    height: 100vh;
    width: 100vw;
    color: white;
  }

  h1 {
    margin: 0px 10px 40px 10px;
    justify-content: center;
    font-size: 5em;
    padding: 140px 60px 40px;
    color: white;
    font-family: Poppins-Medium;
    // font-family: Poppins-Medium;
  }

  .home-head {
    justify-content: center;
    font-size: 18px;
    color: white;
    padding-bottom: 15px;
    text-align: justify;
  }

  .in-home:hover {
    color: #525252;
  }

  .home-example1 p{
    font-size: 20pt;
  }

  p {
    // font-family: Muli;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    margin: 0px 190px 20px;
  }

  .btn1 {
    background: #D45FFF;
    // border: none;
    color: white;
    // padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 40px;
    height: 50px;
    width: 210px;
  }

  .btn1 span {
    padding: 15px;
  }

  .home-examples {
    margin: 100px 80px 40px 70px;
    display: flex;
    flex-direction: row;
  }
  .home-example1, .home-example2, .home-example3 {
    border: 2px solid red;
    margin-right: 35px;
    margin-left: 35px;
    width: 250px;
  }
  .home-example1 p, .home-example2 p, .home-example3 p{
    color:#333333;
    width: 150px;
    height: 220px;
    font-size: 10pt;
  }
}